Source: handballer 
Section: web
Priority: optional
Maintainer: Garden Sylvain <sylvain.garden@gmail.com>
Build-Depends: debhelper (>= 3.0.0)
Standards-Version: 3.5.6

Package: handballer
Architecture: any
Depends: ${shlibs:Depends}
Provides: httpd
Suggests: thttpd-util
Description: Handballer is a slight modification of thttpd to get a HTTP Bus.
 thttpd is the tiny/turbo/throttling HTTP server.
 .
 thttpd is a small, fast secure webserver. It features CGI support, 
 URL-traffic-based throttling and basic authentication. 
 thttpd has a very small memory footprint as it only forks itself in order
 to execute CGI scripts. It is designed to be as fast as fully featured 
 web-servers and it performs extremely well under high load.
 .
 Handballer is a modified thttpd to obtain a very usefull HTTP PUSH/PUB BUS.
 .
 This package contains the handballer server. For handballer/thttpd support
 programs, see the thttpd-util package.
